.version.audio /* version checker */
{
	color: #0000FB;
	background-color: #1B46D2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 918px;
	min-height: 877px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 51px 21px 100px;
}

#u1030
{
	z-index: 59;
	height: 113px;
}

#u1030-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 59;
	top: 0px;
}

#u1061-4
{
	z-index: 93;
	width: 292px;
	min-height: 41px;
	top: 36px;
	left: 334px;
}

#ppu1031
{
	width: 0.01px;
	padding-bottom: 27px;
	margin-left: 824px;
}

#u1031
{
	z-index: 61;
	height: 27px;
	width: 27px;
	top: 51px;
	left: 845px;
}

#u1033
{
	z-index: 64;
	height: 27px;
	width: 27px;
	top: 51px;
	left: 879px;
}

#u1041
{
	z-index: 91;
	height: 24px;
	width: 24px;
	top: 52px;
	left: 914px;
}

#pu1035-4
{
	width: 0.01px;
	padding-bottom: 14px;
	margin-left: 1px;
	margin-top: -21px;
}

#u1035-4
{
	z-index: 66;
	width: 42px;
	min-height: 10px;
	top: 58px;
	left: 22px;
}

#u1035-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 42px;
	margin: 0px;
}

#u1143-4
{
	z-index: 97;
	width: 56px;
	min-height: 10px;
	top: 58px;
	left: 79px;
}

#u1143-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 56px;
	margin: 0px;
}

#u1036-4
{
	z-index: 70;
	width: 98px;
	min-height: 14px;
	top: 58px;
	left: 151px;
}

#u1036-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 98px;
	margin: 0px;
}

#u1037-4
{
	z-index: 74;
	width: 40px;
	min-height: 3px;
	top: 58px;
	left: 264px;
}

#u1037-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	width: 40px;
	margin: 0px;
}

#u1039-4
{
	z-index: 82;
	width: 35px;
	min-height: 10px;
	top: 58px;
	left: 658px;
}

#u1039-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 35px;
	margin: 0px;
}

#u1038-4
{
	z-index: 78;
	width: 51px;
	min-height: 14px;
	top: 58px;
	left: 708px;
}

#u1038-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 51px;
	margin: 0px;
}

#u1040-4
{
	z-index: 86;
	width: 50px;
	min-height: 14px;
	top: 58px;
	left: 774px;
}

#u1040-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px;
}

#u1201-4
{
	z-index: 31;
	width: 603px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: clarendon-urw, sans-serif;
	font-weight: 300;
	margin-top: 75px;
	position: relative;
}

#ppu932-4
{
	width: 0.01px;
	margin-top: 25px;
}

#pu932-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u932-4
{
	z-index: 16;
	width: 215px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu2663
{
	width: 0.01px;
	margin-top: 12px;
}

#u2663
{
	z-index: 55;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1218-4
{
	z-index: 35;
	width: 140px;
	min-height: 18px;
	background-color: transparent;
	color: #78C2BD;
	line-height: 22px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 40px;
}

#pu2652
{
	width: 0.01px;
	margin-top: 6px;
}

#u2652
{
	z-index: 51;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2630-4
{
	z-index: 39;
	width: 140px;
	min-height: 18px;
	background-color: transparent;
	color: #78C2BD;
	line-height: 22px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 40px;
}

#pu2658
{
	width: 0.01px;
	margin-top: 7px;
}

#u2658
{
	z-index: 53;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2632-4
{
	z-index: 43;
	width: 140px;
	min-height: 18px;
	background-color: transparent;
	color: #78C2BD;
	line-height: 22px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 40px;
}

#pu2668
{
	width: 0.01px;
	margin-top: 5px;
}

#u2668
{
	z-index: 57;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2637-4
{
	z-index: 47;
	width: 140px;
	min-height: 18px;
	background-color: transparent;
	color: #78C2BD;
	line-height: 22px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 40px;
}

#pu1203-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 312px;
}

#u1203-4
{
	z-index: 20;
	width: 604px;
	min-height: 16px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u1201
{
	z-index: 30;
	width: 605px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 313px;
	margin-top: 20px;
	position: relative;
}

#u1199
{
	z-index: 30;
	width: 604px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#pu931-14
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 16px;
}

#u931-14
{
	z-index: 2;
	width: 241px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u931-2,#u931-10
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u931-7,#u931-8,#u931-12
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u1187
{
	z-index: 24;
	width: 605px;
	min-height: 166px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u1188
{
	z-index: 25;
	width: 605px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 313px;
	margin-top: 15px;
	position: relative;
}

#u1191
{
	z-index: 26;
	width: 605px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 313px;
	margin-top: 20px;
	position: relative;
}

#u1193
{
	z-index: 27;
	width: 605px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 312px;
	margin-top: 16px;
	position: relative;
}

#u1195
{
	z-index: 28;
	width: 604px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 313px;
	margin-top: 17px;
	position: relative;
}

#u1197
{
	z-index: 29;
	width: 605px;
	min-height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 312px;
	margin-top: 20px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

