.version.photos_video /* version checker */
{
	color: #000014;
	background-color: #77559F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 919px;
	min-height: 877px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 51px 21px 100px 20px;
}

#u1030
{
	z-index: 38;
	height: 113px;
}

#u1030-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 38;
	top: 0px;
}

#u1061-4
{
	z-index: 72;
	width: 292px;
	min-height: 41px;
	top: 36px;
	left: 334px;
}

#ppu1031
{
	width: 0.01px;
	padding-bottom: 27px;
	margin-left: 825px;
}

#u1031
{
	z-index: 40;
	height: 27px;
	width: 27px;
	top: 51px;
	left: 845px;
}

#u1033
{
	z-index: 43;
	height: 27px;
	width: 27px;
	top: 51px;
	left: 879px;
}

#u1041
{
	z-index: 70;
	height: 24px;
	width: 24px;
	top: 52px;
	left: 914px;
}

#pu1035-4
{
	width: 0.01px;
	padding-bottom: 14px;
	margin-left: 2px;
	margin-top: -21px;
}

#u1035-4
{
	z-index: 45;
	width: 42px;
	min-height: 10px;
	top: 58px;
	left: 22px;
}

#u1035-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 42px;
	margin: 0px;
}

#u1143-4
{
	z-index: 76;
	width: 56px;
	min-height: 10px;
	top: 58px;
	left: 79px;
}

#u1143-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 56px;
	margin: 0px;
}

#u1036-4
{
	z-index: 49;
	width: 98px;
	min-height: 14px;
	top: 58px;
	left: 151px;
}

#u1036-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 98px;
	margin: 0px;
}

#u1037-4
{
	z-index: 53;
	width: 40px;
	min-height: 3px;
	top: 58px;
	left: 264px;
}

#u1037-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 3px;
	width: 40px;
	margin: 0px;
}

#u1039-4
{
	z-index: 61;
	width: 35px;
	min-height: 10px;
	top: 58px;
	left: 658px;
}

#u1039-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 35px;
	margin: 0px;
}

#u1038-4
{
	z-index: 57;
	width: 51px;
	min-height: 14px;
	top: 58px;
	left: 708px;
}

#u1038-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 51px;
	margin: 0px;
}

#u1040-4
{
	z-index: 65;
	width: 50px;
	min-height: 14px;
	top: 58px;
	left: 774px;
}

#u1040-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px;
}

#u1144-4
{
	z-index: 32;
	width: 603px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: clarendon-urw, serif;
	font-weight: 300;
	margin-left: 3px;
	margin-top: 55px;
	position: relative;
}

#u2740
{
	z-index: 37;
	width: 916px;
	min-height: 519px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 42px;
	position: relative;
}

#u1799
{
	z-index: 36;
	width: 916px;
	min-height: 519px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 54px;
	position: relative;
}

#u1098-4
{
	z-index: 28;
	width: 603px;
	min-height: 25px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#slideshowu740
{
	z-index: 6;
	width: 0.01px;
	height: 618px;
	margin-top: 36px;
	position: relative;
}

#u742
{
	position: absolute;
	width: 917px;
	height: 618px;
	background-color: transparent;
	left: 1px;
}

#u742popup
{
	z-index: 7;
}

#u1790
{
	z-index: 8;
	width: 917px;
	height: 618px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2501
{
	z-index: 10;
	width: 917px;
	height: 618px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2510
{
	z-index: 12;
	width: 917px;
	height: 618px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2519
{
	z-index: 14;
	width: 917px;
	height: 618px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1790_img,#u2519_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u2528
{
	z-index: 16;
	width: 917px;
	height: 618px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2528_img
{
	margin-left: -4px;
	margin-right: -5px;
}

#u2537
{
	z-index: 18;
	width: 917px;
	height: 618px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1790_clip,#u2501_clip,#u2510_clip,#u2519_clip,#u2528_clip,#u2537_clip
{
	overflow: hidden;
	width: 917px;
	height: 618px;
}

#u2501_img,#u2510_img,#u2537_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u757-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 309px;
}

#u757-4popup
{
	z-index: 20;
}

#u757
{
	color: #999999;
}

#u741-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 309px;
	left: 888px;
}

#u741-4popup
{
	z-index: 24;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u928-4
{
	z-index: 2;
	width: 603px;
	min-height: 25px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

