.version.audio /* version checker */
{
	color: #0000F1;
	background-color: #90A6B9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 410.9999999999991px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content,#pu1508
{
	width: 0.01px;
}

#u1508
{
	z-index: 51;
	min-height: 100px;
	padding-bottom: 14px;
}

#u1513-5
{
	z-index: 59;
	width: 54px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 10px;
}

#u1513-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 54px;
	margin: 68px -10000px 0px 0px;
}

#pu1521-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 82px;
}

#u1521-4
{
	z-index: 94;
	width: 216px;
	min-height: 41px;
}

#pu1514-6
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 8px;
}

#u1514-6
{
	z-index: 64;
	width: 66px;
	min-height: 14px;
	margin-right: -10000px;
}

#u1514-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u1516-5
{
	z-index: 75;
	width: 57px;
	min-height: 31px;
	margin-right: -10000px;
	left: 157px;
}

#u1516-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u1508-bw
{
	z-index: 51;
	min-height: 100px;
}

#u1515-5
{
	z-index: 70;
	width: 52px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 182px;
}

#u1515-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 52px;
	margin: 68px -10000px 0px 0px;
}

#u1517-5
{
	z-index: 80;
	width: 38px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 234px;
}

#u1517-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 38px;
	margin: 68px -10000px 0px 0px;
}

#u1518-6
{
	z-index: 85;
	width: 42px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 329px;
}

#u1518-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 42px;
	margin: 67px -10000px 0px 0px;
}

#u1522-6
{
	z-index: 102;
	width: 52px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 63px;
}

#u1522-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 52px;
	margin: 68px -10000px 0px 0px;
}

#u2057-4
{
	z-index: 27;
	width: 340px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: latienne-pro, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u2055-4
{
	z-index: 19;
	width: 340px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#pu2064
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 17px;
}

#u2064
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u2060
{
	z-index: 40;
	height: 93px;
	width: 93px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 118px;
	background: url("../../images/u2060.png") no-repeat 0px 0px;
}

#u2060:hover
{
	background: url("../../images/u2060-r.png") no-repeat 0px 0px;
}

#u2062
{
	z-index: 43;
	height: 93px;
	width: 93px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: url("../../images/u2062.png") no-repeat 0px 0px;
}

#u2062:hover
{
	background: url("../../images/u2062-r.png") no-repeat 0px 0px;
}

#pu2058-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 8px;
}

#u2058-4
{
	z-index: 31;
	width: 98px;
	min-height: 19px;
	background-color: transparent;
	color: #78C2BD;
	line-height: 16px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u2059-4
{
	z-index: 35;
	width: 83px;
	min-height: 18px;
	background-color: transparent;
	color: #78C2BD;
	line-height: 16px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u2066-4
{
	z-index: 47;
	width: 91px;
	min-height: 18px;
	background-color: transparent;
	color: #78C2BD;
	line-height: 16px;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u2054-16
{
	z-index: 3;
	width: 339px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 21px;
	margin-top: 34px;
	position: relative;
}

#u2054-2,#u2054-12
{
	font-family: open-sans-condensed, sans-serif;
	font-weight: 700;
}

#u2054-9,#u2054-10,#u2054-14
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u2056-4
{
	z-index: 23;
	width: 339px;
	min-height: 16px;
	background-color: transparent;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 21px;
	margin-top: 30px;
	position: relative;
}

#u1720
{
	z-index: 2;
	width: 340px;
	min-height: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 39px;
	position: relative;
}

#pu1527
{
	width: 0.01px;
	margin-top: 33px;
}

#u1527
{
	z-index: 52;
	min-height: 43px;
	padding-bottom: 18px;
}

#u1526-4
{
	z-index: 98;
	width: 168px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 16px;
}

#u1527-bw
{
	z-index: 52;
	min-height: 43px;
}

#u1534
{
	z-index: 54;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 231px;
}

#u1531
{
	z-index: 57;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 277px;
}

#u1528
{
	z-index: 92;
	height: 37px;
	width: 37px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 321px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

