.version.home2 /* version checker */
{
	color: #00001A;
	background-color: #A2F2B4;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 410.99999999999966px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content,#pu1508
{
	width: 0.01px;
}

#u1508
{
	z-index: 3;
	min-height: 100px;
	padding-bottom: 14px;
}

#u1513-5
{
	z-index: 11;
	width: 54px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 10px;
}

#u1513-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 54px;
	margin: 68px -10000px 0px 0px;
}

#pu1521-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 82px;
}

#u1521-4
{
	z-index: 46;
	width: 216px;
	min-height: 41px;
}

#pu1514-6
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 8px;
}

#u1514-6
{
	z-index: 16;
	width: 66px;
	min-height: 14px;
	margin-right: -10000px;
}

#u1514-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u1516-5
{
	z-index: 27;
	width: 57px;
	min-height: 31px;
	margin-right: -10000px;
	left: 157px;
}

#u1516-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u1508-bw
{
	z-index: 3;
	min-height: 100px;
}

#u1515-5
{
	z-index: 22;
	width: 52px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 182px;
}

#u1515-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 52px;
	margin: 68px -10000px 0px 0px;
}

#u1517-5
{
	z-index: 32;
	width: 38px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 234px;
}

#u1517-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 38px;
	margin: 68px -10000px 0px 0px;
}

#u1518-6
{
	z-index: 37;
	width: 42px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 329px;
}

#u1518-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 42px;
	margin: 67px -10000px 0px 0px;
}

#u1522-6
{
	z-index: 54;
	width: 52px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 63px;
}

#u1522-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 52px;
	margin: 68px -10000px 0px 0px;
}

#u1538
{
	z-index: 2;
	height: 320px;
	background: #D2D2D4 url("../../images/056.jpg") no-repeat center center;
	background-size: cover;
}

#u1538-bw
{
	z-index: 2;
	height: 320px;
}

#pu1527
{
	width: 0.01px;
	margin-top: 33px;
}

#u1527
{
	z-index: 4;
	min-height: 43px;
	padding-bottom: 18px;
}

#u1526-4
{
	z-index: 50;
	width: 168px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 16px;
}

#u1527-bw
{
	z-index: 4;
	min-height: 43px;
}

#u1534
{
	z-index: 6;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 231px;
}

#u1531
{
	z-index: 9;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 277px;
}

#u1528
{
	z-index: 44;
	height: 37px;
	width: 37px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 321px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

