#u1508
{
	background-color: #FFFFFF;
}

#u1513-5
{
	background-color: transparent;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1521-4
{
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	letter-spacing: 1px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1514-6
{
	background-color: transparent;
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1516-5
{
	background-color: transparent;
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1515-5
{
	background-color: transparent;
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1517-5
{
	background-color: transparent;
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1518-6
{
	background-color: transparent;
	color: #000000;
	line-height: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
}

#u1514-6:hover,#u1516-5:hover,#u1515-5:hover,#u1517-5:hover,#u1518-6:hover
{
	background-color: transparent;
}

#u1522-6
{
	background-color: transparent;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1513-5:hover,#u1522-6:hover
{
	border-style: none;
	border-color: transparent;
}

#u1513-5:hover p,#u1514-6:hover p,#u1516-5:hover p,#u1515-5:hover p,#u1517-5:hover p,#u1518-6:hover p,#u1522-6:hover p
{
	color: #7F7F7F;
	visibility: inherit;
	text-decoration: underline;
}

#u1527
{
	background-color: #D2D2D4;
}

#u1526-4
{
	background-color: transparent;
	line-height: 31px;
	text-align: center;
	font-size: 26px;
	letter-spacing: 1px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1534
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1534.png") no-repeat 0px 0px;
}

#u1534:hover
{
	background: url("../../images/u1534-r.png") no-repeat 0px 0px;
}

#u1531
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1531.png") no-repeat 0px 0px;
}

#u1531:hover
{
	background: url("../../images/u1531-r.png") no-repeat 0px 0px;
}

#u1528
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u1528.png") no-repeat 0px 0px;
}

#u1528:hover
{
	background: url("../../images/u1528-r.png") no-repeat 0px 0px;
}

