.version.shows /* version checker */
{
	color: #000010;
	background-color: #94D140;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 410.71059478156167px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content,#pu1508
{
	width: 0.01px;
}

#u1508
{
	z-index: 166;
	min-height: 100px;
	padding-bottom: 14px;
}

#u1513-5
{
	z-index: 174;
	width: 54px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 10px;
}

#u1513-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 54px;
	margin: 68px -10000px 0px 0px;
}

#pu1521-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 18px;
	margin-left: 82px;
}

#u1521-4
{
	z-index: 209;
	width: 216px;
	min-height: 41px;
}

#pu1514-6
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 8px;
}

#u1514-6
{
	z-index: 179;
	width: 66px;
	min-height: 14px;
	margin-right: -10000px;
}

#u1514-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u1516-5
{
	z-index: 190;
	width: 57px;
	min-height: 31px;
	margin-right: -10000px;
	left: 157px;
}

#u1516-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u1508-bw
{
	z-index: 166;
	min-height: 100px;
}

#u1515-5
{
	z-index: 185;
	width: 52px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 182px;
}

#u1515-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 52px;
	margin: 68px -10000px 0px 0px;
}

#u1517-5
{
	z-index: 195;
	width: 38px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 234px;
}

#u1517-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	width: 38px;
	margin: 68px -10000px 0px 0px;
}

#u1518-6
{
	z-index: 200;
	width: 42px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 329px;
}

#u1518-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 42px;
	margin: 67px -10000px 0px 0px;
}

#u1522-6
{
	z-index: 217;
	width: 52px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 68px;
	left: 63px;
}

#u1522-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 52px;
	margin: 68px -10000px 0px 0px;
}

#u1557-4
{
	z-index: 20;
	width: 213px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: latienne-pro, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u1717
{
	z-index: 165;
	width: 341px;
	min-height: 128px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u1558-4
{
	z-index: 24;
	width: 213px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: latienne-pro, sans-serif;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 42px;
	position: relative;
}

#pu1553
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 19px;
}

#u1553
{
	z-index: 16;
	width: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 628px;
	left: 186px;
}

#u1566-71
{
	z-index: 38;
	width: 136px;
	min-height: 668px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1567-56
{
	z-index: 109;
	width: 136px;
	min-height: 668px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 186px;
}

#u1559-4
{
	z-index: 28;
	width: 339px;
	min-height: 25px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	font-family: latienne-pro, sans-serif;
	font-weight: 500;
	margin-left: 21px;
	margin-top: 60px;
	position: relative;
}

#u1541
{
	z-index: 4;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#u1560
{
	z-index: 32;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u1545
{
	z-index: 8;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 11px;
	position: relative;
}

#u1547
{
	z-index: 10;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u1551
{
	z-index: 14;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u1539
{
	z-index: 2;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1549
{
	z-index: 12;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1562
{
	z-index: 34;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1543
{
	z-index: 6;
	width: 339px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1564
{
	z-index: 36;
	width: 339px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u1555
{
	z-index: 18;
	width: 340px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#pu1527
{
	width: 0.01px;
	margin-top: 33px;
}

#u1527
{
	z-index: 167;
	min-height: 43px;
	padding-bottom: 18px;
}

#u1526-4
{
	z-index: 213;
	width: 168px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 16px;
}

#u1527-bw
{
	z-index: 167;
	min-height: 43px;
}

#u1534
{
	z-index: 169;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 231px;
}

#u1531
{
	z-index: 172;
	height: 40px;
	width: 40px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 277px;
}

#u1528
{
	z-index: 207;
	height: 37px;
	width: 37px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 321px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

